numpy~=1.26.3
pulp~=2.9.0
pandas~=2.2.3
tqdm~=4.67.1
pyyaml~=6.0.2
requests~=2.32.3
pillow~=10.2.0
scikit-learn~=1.5.2
joblib~=1.4.2
jieba~=0.42.1
pygments~=2.18.0
nbformat~=5.10.4
beautifulsoup4~=4.12.3
networkx~=3.2.1
regex~=2024.11.6
nbclient~=0.10.0
rich~=13.9.4
websocket-client~=1.8.0
protobuf~=5.28.3
psutil~=6.1.0